// Шрифты
$primary-font: 'Montserrat', sans-serif;

// Цвета
$background-color:#FFFFFF;
$alternative-background-color:#F6F6F8;

$accent-color: #4985FF;
$current-devision-color: #FFFFFF;
$button-color: #FFFFFF;

$header-text-color: #FFFFFF;
$hero-text-color:#FFFFFF;

$section-title-color: #323232;
$alternative-title-color:#FFFFFF;
$alternative-text-color: #FFFFFF;
$primary-text-color:#999999;
$caption-color:#000000;


// Транзишены
$transition-time:250ms;
$transition-function:cubic-bezier(0.4, 0, 0.2, 1);