<footer class="footer">
  <div class="container">
    <ul class="footer__list">
      <li class="footer__item">
        <h2 class="footer__title">Контактная информация</h2>
        <address class="contacts">
          <ul class="contacts__list">
            <li class="contacts__item">
              <a href="mailto:'test@test.ru" class="contacts__link">
                <svg class="contacts__icon" width="15px" height="15px">
                  <use href="./images/icon-sprite.svg#icon-envelope"></use>
                </svg>
                <span>test@test.ru</span>
              </a>
            </li>
            <li class="contacts__item">
              <a href="tel:+380965556699'" class="contacts__link">
                <svg class="contacts__icon" width="15px" height="15px">
                  <use href="./images/icon-sprite.svg#icon-call"></use>
                </svg>
                <span>+3 8096 555 66 99</span>
              </a>
            </li>
            <li class="contacts__item">
              <a
                href="https://goo.gl/maps/siDHqS6VCJdjqJmT9"
                rel="noreferrer, nofollow"
                target="_blank"
                class="contacts__link"
              >
                <svg class="contacts__icon" width="15px" height="15px">
                  <use href="./images/icon-sprite.svg#icon-point"></use>
                </svg>
                <span>Тернопіль вул С. Бандери</span>
              </a>
            </li>
          </ul>
        </address>
      </li>
      <li class="footer__item">
        <h2 class="footer__title">Основні посилання</h2>
        <nav class="footer__nav">
          <ul class="footer__sublist">
            <li class="footer__subitem">
              <a href="#" class="footer__link">
                <svg class="footer__icon" width="10px" height="10px">
                  <use href="./images/icon-sprite.svg#icon-right-arrow"></use>
                </svg>
                <span>Головна</span>
              </a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">
                <svg class="footer__icon" width="10px" height="10px">
                  <use href="./images/icon-sprite.svg#icon-right-arrow"></use>
                </svg>
                <span>Наші проекти</span>
              </a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">
                <svg class="footer__icon" width="10px" height="10px">
                  <use href="./images/icon-sprite.svg#icon-right-arrow"></use>
                </svg>
                <span>Наші послуги</span>
              </a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">
                <svg class="footer__icon" width="10px" height="10px">
                  <use href="./images/icon-sprite.svg#icon-right-arrow"></use>
                </svg>
                <span>Контакти</span>
              </a>
            </li>
          </ul>
        </nav>
      </li>
      <li class="footer__item">
        <h2 class="footer__title">Наші проекти</h2>
        <ul class="footer__sublist">
          <li class="footer__subitem">
            <a
              href="#"
              class="footer__link"
              rel="noreferrer, nofollow"
              target="_blank"
            >
              <svg class="footer__icon" width="10px" height="10px">
                <use href="./images/icon-sprite.svg#icon-right-arrow"></use>
              </svg>
              <span>Укрпошта</span>
            </a>
          </li>
          <li class="footer__subitem">
            <a
              href="#"
              class="footer__link"
              rel="noreferrer, nofollow"
              target="_blank"
            >
              <svg class="footer__icon" width="10px" height="10px">
                <use href="./images/icon-sprite.svg#icon-right-arrow"></use>
              </svg>
              <span>Нафтогаз</span>
            </a>
          </li>
          <li class="footer__subitem">
            <a
              href="#"
              class="footer__link"
              rel="noreferrer, nofollow"
              target="_blank"
            >
              <svg class="footer__icon" width="10px" height="10px">
                <use href="./images/icon-sprite.svg#icon-right-arrow"></use>
              </svg>
              <span>Львівська пивоварня</span>
            </a>
          </li>
          <li class="footer__subitem">
            <a
              href="#"
              class="footer__link"
              rel="noreferrer, nofollow"
              target="_blank"
            >
              <svg class="footer__icon" width="10px" height="10px">
                <use href="./images/icon-sprite.svg#icon-right-arrow"></use>
              </svg>
              <span>ТЭЦ Калуша</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="footer__item">
        <h2 class="footer__title">Соціальні мережі</h2>
        <ul class="footer__sublist">
          <li class="footer__subitem">
            <a
              href="https://www.linkedin.com/"
              class="footer__link"
              rel="noreferrer, nofollow"
              target="_blank"
            >
              <svg class="footer__icon" width="10px" height="10px">
                <use href="./images/icon-sprite.svg#icon-right-arrow"></use>
              </svg>
              <span>LinkedIn</span>
            </a>
          </li>
          <li class="footer__subitem">
            <a
              href="https://www.instagram.com/"
              class="footer__link"
              rel="noreferrer, nofollow"
              target="_blank"
            >
              <svg class="footer__icon" width="10px" height="10px">
                <use href="./images/icon-sprite.svg#icon-right-arrow"></use>
              </svg>
              <span>Instagram</span>
            </a>
          </li>
          <li class="footer__subitem">
            <a
              href="https://www.facebook.com/"
              class="footer__link"
              rel="noreferrer, nofollow"
              target="_blank"
            >
              <svg class="footer__icon" width="10px" height="10px">
                <use href="./images/icon-sprite.svg#icon-right-arrow"></use>
              </svg>
              <span>Facebook</span>
            </a>
          </li>
          <li class="footer__subitem">
            <a
              href="https://twitter.com/"
              class="footer__link"
              rel="noreferrer, nofollow"
              target="_blank"
            >
              <svg class="footer__icon" width="10px" height="10px">
                <use href="./images/icon-sprite.svg#icon-right-arrow"></use>
              </svg>
              <span>Twitter</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <p class="footer__copiright">(с) 2019. Всі права захищені</p>
  </div>
</footer>
