<header class="page__header">
  <div class="container">
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="" class="header__link curent">Головна</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">Наші проекти</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">Послуги</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">Новини</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
