<section class="projects" id="here">
  <div class="container">
    <h2 class="section-title projects__title">Наші проекти</h2>
    <p class="projects__text">
      Lorem Ipsum - це текст-"риба", що часто використовується в пресі та
      веб-дизайні. Lorem Ipsum є стандартною "рибою" для текстів на латиниці з
      початку XVI ст.
    </p>
    <ul class="projects__list">
      <li class="projects__item">
        <div class="projects__thumb">
          <img
            src="./images/projects.jpg"
            alt="Кодінг"
            width="255px"
            height="255px"
            class="projects__image"
          />
        </div>
      </li>
      <li class="projects__item">
        <div class="projects__thumb">
          <img
            src="./images/projects.jpg"
            alt="Кодінг"
            width="255px"
            height="255px"
            class="projects__image"
          />
        </div>
      </li>
      <li class="projects__item">
        <div class="projects__thumb">
          <img
            src="./images/projects.jpg"
            alt="Кодінг"
            width="255px"
            height="255px"
            class="projects__image"
          />
        </div>
      </li>
      <li class="projects__item">
        <div class="projects__thumb">
          <img
            src="./images/projects.jpg"
            alt="Кодінг"
            width="255px"
            height="255px"
            class="projects__image"
          />
        </div>
      </li>
    </ul>
    <a href="#" class="button projects__button">Всі проекти</a>
  </div>
</section>
