<section class="quality">
  <div class="container">
    <h2 class="section-title quality__title">
      Ми створюємо мобільні додатки для великих корпорацій
    </h2>
    <h3 class="quality__subtitle">
      Lorem Ipsum - це текст-"риба", що часто використовується в пресі та
      веб-дизайні. Lorem Ipsum є стандартною "рибою" для текстів на латиниці з
      початку XVI ст.
    </h3>
    <ul class="quality__list">
      <li class="quality__item">
        <div class="quality__circle quality__circle--large">
          <div class="quality__circle quality__circle--small">
            <svg class="quality__icon" width="40px" height="40px">
              <use href="./images/icon-sprite.svg#icon-quality"></use>
            </svg>
          </div>
        </div>
        <div class="quality__description">
          <h3 class="quality__caption">Створення сайтів</h3>
          <p class="quality__text">
            Lorem Ipsum - це текст-"риба", часто використовує у пресі та
            веб-дизайні.
          </p>
        </div>
      </li>
      <li class="quality__item">
        <div class="quality__circle quality__circle--large">
          <div class="quality__circle quality__circle--small">
            <svg class="quality__icon" width="40px" height="40px">
              <use href="./images/icon-sprite.svg#icon-quality"></use>
            </svg>
          </div>
        </div>
        <div class="quality__description">
          <h3 class="quality__caption">Створення сайтів</h3>
          <p class="quality__text">
            Lorem Ipsum - це текст-"риба", часто використовує у пресі та
            веб-дизайні.
          </p>
        </div>
      </li>
      <li class="quality__item">
        <div class="quality__circle quality__circle--large">
          <div class="quality__circle quality__circle--small">
            <svg class="quality__icon" width="40px" height="40px">
              <use href="./images/icon-sprite.svg#icon-quality"></use>
            </svg>
          </div>
        </div>
        <div class="quality__description">
          <h3 class="quality__caption">Створення сайтів</h3>
          <p class="quality__text">
            Lorem Ipsum - це текст-"риба", часто використовує у пресі та
            веб-дизайні.
          </p>
        </div>
      </li>
    </ul>
    <a href="#" class="button quality__button">Всі послуги</a>
  </div>
</section>
