<section class="sign-up">
  <div class="container">
    <h1 class="sign-up__title">Підпишіться на нашу розсилку</h1>
    <p class="sign-up__subtitle">
      Корисні статті, акції, новини - отримайте все це зараз!
    </p>
    <form action="" class="sign-up__form">
      <label class="sign-up__label">
        <input
          type="text"
          class="sign-up__input"
          required
          placeholder="Ваш e-mail"
        />
      </label>
      <button class="button sign-up__button" type="submit">Підписатися</button>
    </form>
    <p class="sign-up__text">
      Ми не шлем спам, і не передаємо нікому ваші дані
    </p>
  </div>
</section>
