<section class="standarts">
  <div class="container">
    <div class="standarts__wrap">
      <div class="standarts__description">
        <h2 class="section-title standarts__title">
          Високі стандарти розробки
        </h2>
        <p class="standarts__text">
          Lorem Ipsum - це текст-"риба", що часто використовується в пресі та
          веб-дизайні. Lorem Ipsum є стандартною "рибою" для текстів на латиниці
          з початку XVI ст.
        </p>
        <a href="" class="standarts__link">Детальніше про компанію</a>
      </div>
      <div class="standarts__thumb">
        <img
          class="standarts__image"
          src="./images/standarts.png"
          alt="Робота за комп'ютером"
          width="500px"
          height="400px"
        />
      </div>
    </div>
    <ul class="standarts__list">
      <li class="standarts__item">
        <svg class="standarts__icon" width="30px" height="30px">
          <use href="./images/icon-sprite.svg#icon-standarts"></use>
        </svg>
        <span class="standarts__number">125</span>
        <span class="standarts__caption">Our projects</span>
      </li>
      <li class="standarts__item">
        <svg class="standarts__icon" width="30px" height="30px">
          <use href="./images/icon-sprite.svg#icon-standarts"></use>
        </svg>
        <span class="standarts__number">125</span>
        <span class="standarts__caption">Our projects</span>
      </li>
      <li class="standarts__item">
        <svg class="standarts__icon" width="30px" height="30px">
          <use href="./images/icon-sprite.svg#icon-standarts"></use>
        </svg>
        <span class="standarts__number">125</span>
        <span class="standarts__caption">Our projects</span>
      </li>
      <li class="standarts__item">
        <svg class="standarts__icon" width="30px" height="30px">
          <use href="./images/icon-sprite.svg#icon-standarts"></use>
        </svg>
        <span class="standarts__number">125</span>
        <span class="standarts__caption">Our projects</span>
      </li>
      <li class="standarts__item">
        <svg class="standarts__icon" width="30px" height="30px">
          <use href="./images/icon-sprite.svg#icon-standarts"></use>
        </svg>
        <span class="standarts__number">125</span>
        <span class="standarts__caption">Our projects</span>
      </li>
    </ul>
  </div>
</section>
