<section class="video">
  <div class="container">
    <h2 class="section-title video__title">Відео про нашу роботу</h2>
    <p class="video__text">Просто подивіться, як ми працюємо</p>
    <div class="video__thumb">
      <img src="./images/video.png" alt="Прев'ю" class="video__image" />
      <button class="video__button" type="button">
        <svg class="video__icon" width="60px" height="60px">
          <use href="./images/icon-sprite.svg#icon-play-button"></use>
        </svg>
        <span class="video__text-button">Дивитись відео</span>
      </button>
    </div>
  </div>
</section>
