<section class="works">
  <div class="container">
    <div class="works__header">
      <h2 class="section-title works__title">
        Наші роботи на яких ми спеціалізуємось
      </h2>
      <a href="#" class="button works__button">Всі послуги</a>
    </div>
    <ul class="works__list">
      <li class="works__thumb">
        <img
          src="./images/works.jpg"
          alt="Люди працюють в офісі"
          class="works__image"
          height="350px"
          width="300px"
        />
        <div class="works__description">
          <h3 class="works__caption">
            <span>01. </span>Дослідження і упаковка
          </h3>
          <p class="works__text">
            Lorem Ipsum - це текст-"риба", що часто використовується в пресі та
            веб-дизайні. Lorem Ipsum є стандартною "рибою" для текстів на
            латиниці з початку XVI ст.
          </p>
          <a href="" class="works__link">Детальніше</a>
        </div>
      </li>
      <li class="works__thumb">
        <img
          src="./images/works.jpg"
          alt="Люди працюють в офісі"
          class="works__image"
          height="350px"
          width="300px"
        />
        <div class="works__description">
          <h3 class="works__caption">
            <span>01. </span>Дослідження і упаковка
          </h3>
          <p class="works__text">
            Lorem Ipsum - це текст-"риба", що часто використовується в пресі та
            веб-дизайні. Lorem Ipsum є стандартною "рибою" для текстів на
            латиниці з початку XVI ст.
          </p>
          <a href="" class="works__link">Детальніше</a>
        </div>
      </li>
      <li class="works__thumb">
        <img
          src="./images/works.jpg"
          alt="Люди працюють в офісі"
          class="works__image"
          height="350px"
          width="300px"
        />
        <div class="works__description">
          <h3 class="works__caption">
            <span>01. </span>Дослідження і упаковка
          </h3>
          <p class="works__text">
            Lorem Ipsum - це текст-"риба", що часто використовується в пресі та
            веб-дизайні. Lorem Ipsum є стандартною "рибою" для текстів на
            латиниці з початку XVI ст.
          </p>
          <a href="" class="works__link">Детальніше</a>
        </div>
      </li>
    </ul>
  </div>
</section>
