.projects {
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: $alternative-background-color;
  text-align: center;
}

.projects__title {

}

.projects__text {
  @include font-property ($primary-font, 400, 16px, (25 / 16), $primary-text-color);
  width: 730px;
  margin: 28px auto 0;
}

.projects__list {
  margin-top: 60px;
  display: flex;
  column-gap: 30px;
}

.projects__item {
}

.projects__thumb {
}

.projects__image {
  border-radius: 15px;
}

.projects__button {
  margin-top: 50px;
}
